.dashbox{
	border-radius: 10px;
	margin-top:10%; 
	height:250px;
	width:100%;
	text-align: center;
	color:#a8ede3;
}

.dashbox .far{
	font-size: 30px;
	padding-top:30px;
}
.dashbox .fas{
	font-size: 30px;
	padding-top:30px;
}

.dashbox h3{
   margin:auto;
   padding-top: 10px;
}

.dashbox .dashchart{
	margin-left: 17%;
}

.dashboxes .mdl-cell {
   transition: 1s;
}

.dashboxes .mdl-cell:hover {
    transform: scale(0.95);
}